.nav-item {
    font-family: 'Bona Nova', serif;
}

.mb-3 {
    font-family: 'Bona Nova', serif;
    font-style: italic;
}
.aboutme img {
    max-height: 500px;
    max-width: 500px;
    margin: 25px; 
}

.aboutme {
    text-align: center;
    font-family: 'Bona Nova', serif;
    margin: 25px; 
}

.aboutme p {
    font-size: x-large;
}

.col-4 p {
    vertical-align: middle;
}

.mywork {
    text-align: center;
    font-family: 'Bona Nova', serif;
    margin-top: 50px;
}

.bg-image {
    margin: 25px;
    height: 200px;
    width: 300px;
    display: inline-block;
}

.mb-4 {
    color: black; 
}

.text-center {
    font-family: 'Bona Nova', serif; 
}